Switch/node-red-config/fake-server.json
[{"id":"7d8f6cb2.c25814","type":"tab","label":"Fake-server","disabled":false,"info":""},{"id":"5a65b9a4.9dd3f8","type":"udp in","z":"7d8f6cb2.c25814","name":"","iface":"","port":"8000","ipv":"udp4","multicast":"false","group":"192.168.120.255","datatype":"buffer","x":320,"y":160,"wires":[["463cf224.03473c","b1c16d93.53dd7"]]},{"id":"dfda255.20cb9d8","type":"udp out","z":"7d8f6cb2.c25814","name":"","addr":"","iface":"","port":"","ipv":"udp4","outport":"8000","base64":false,"multicast":"false","x":530,"y":320,"wires":[]},{"id":"463cf224.03473c","type":"change","z":"7d8f6cb2.c25814","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Recived","tot":"str"},{"t":"delete","p":"_msgid","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":240,"wires":[["dfda255.20cb9d8","3e7f6cec.3db364"]]},{"id":"3e7f6cec.3db364","type":"debug","z":"7d8f6cb2.c25814","name":"TX","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":240,"wires":[]},{"id":"b1c16d93.53dd7","type":"debug","z":"7d8f6cb2.c25814","name":"RX","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":160,"wires":[]}]