Switch/node-red-config/fake-server.json
[{"id":"7d8f6cb2.c25814","type":"tab","label":"Fake-server","disabled":false,"info":""},{"id":"5a65b9a4.9dd3f8","type":"udp in","z":"7d8f6cb2.c25814","name":"","iface":"","port":"8000","ipv":"udp4","multicast":"false","group":"192.168.120.255","datatype":"buffer","x":200,"y":200,"wires":[["463cf224.03473c","b1c16d93.53dd7"]]},{"id":"dfda255.20cb9d8","type":"udp out","z":"7d8f6cb2.c25814","name":"","addr":"","iface":"","port":"","ipv":"udp4","outport":"8000","base64":false,"multicast":"false","x":910,"y":200,"wires":[]},{"id":"463cf224.03473c","type":"change","z":"7d8f6cb2.c25814","name":"","rules":[{"t":"delete","p":"_msgid","pt":"msg"},{"t":"delete","p":"fromip","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":200,"wires":[["cae7b318.3e99"]]},{"id":"3e7f6cec.3db364","type":"debug","z":"7d8f6cb2.c25814","name":"TX","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":140,"wires":[]},{"id":"b1c16d93.53dd7","type":"debug","z":"7d8f6cb2.c25814","name":"RX","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":410,"y":140,"wires":[]},{"id":"cae7b318.3e99","type":"function","z":"7d8f6cb2.c25814","name":"Add prefix to payload","func":"msg.payload = \"Recived:\"+msg.payload\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":200,"wires":[["3e7f6cec.3db364","dfda255.20cb9d8"]]}]