node-red-config/fake-client.json
[{"id":"38a3abf6.933d44","type":"tab","label":"Fake-client","disabled":false,"info":""},{"id":"11fbc44f.60f85c","type":"udp in","z":"38a3abf6.933d44","name":"","iface":"","port":"8000","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":160,"y":360,"wires":[["ae8f8d10.015ca"]]},{"id":"ae8f8d10.015ca","type":"debug","z":"38a3abf6.933d44","name":"Rx","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":330,"y":360,"wires":[]},{"id":"d60180e8.7c85a","type":"udp out","z":"38a3abf6.933d44","name":"","addr":"192.168.120.255","iface":"","port":"8000","ipv":"udp4","outport":"","base64":false,"multicast":"broad","x":400,"y":200,"wires":[]},{"id":"9821f8c3.0e9928","type":"debug","z":"38a3abf6.933d44","name":"TX","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":330,"y":120,"wires":[]},{"id":"e882ba4c.dc6648","type":"inject","z":"38a3abf6.933d44","name":"data","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"efc32b12,testing","payloadType":"str","x":170,"y":200,"wires":[["9821f8c3.0e9928","d60180e8.7c85a"]]}]